#contact {
	flex: 1; // sticking the footer to the bottom

	@include respond-to-width(600px) {
		@include flex-layout(column, nowrap);
		justify-content: center;
	}
}

.contact-paragraph {
	width: 77%;
	max-width: 43rem;
	margin: 0 auto;

	@include respond-to-width(1024px) {
		width: 100%;
		max-width: 45rem;
	}
}

form {
	text-align: center;
	margin-top: 1.5rem;
}

.form-group:last-of-type {
	margin-bottom: 1rem;
}

label {
	display: block;
	margin: 1rem 0 0.2rem;

	@include respond-to-width(1024px) {
		font-size: 1.2rem;
	}
}

input,
textarea {
	border: 0;
	border-radius: $border-radius-primary;
	box-shadow: $box-shadow-4;
	width: 77%;
	max-width: 43rem;
	padding: 1rem 0;
	text-align: center;

	@include respond-to-width(1024px) {
		width: 100%;
		max-width: 45rem;
		font-size: 1.1rem;
	}
}

input:focus-within,
textarea:focus-within {
	box-shadow: 0 0 0 100vmax $overlay-color-2;
}

textarea::placeholder {
	line-height: 2.9;
}
