// Base - global styles
* {
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html {
	background: $secondary-color;
	color: $text-color;

	//  Sorting content shifting when the scrollbar appears:
	@include respond-to-width(1024px) {
		margin-left: calc(100vw - 100%);
		margin-right: 0;
	}

	@include respond-to-w-and-h(2200px, 1200px) {
		font-size: 150%;
	}

	@include respond-to-height(2000px) {
		font-size: 250%;
	}
}

body {
	@include sticky-footer;
}

ul,
li {
	list-style: none;
}

a {
	color: $primary-color;
	text-decoration: none;
}

img {
	display: block;
}

.hidden-visually {
	@include hidden-visually;
}
